BOT_TOKEN=your_bot_token_here
ADMIN_IDS=your_id
ADMIN_PASSWORD=your_pass

PRICE_ADULT=price
PRICE_CHILD=price
MAX_PEOPLE_PER_BOOKING=10
PENDING_TIMEOUT_HOURS=24

VND_TO_RUB=0.0037
VND_TO_KZT=0.018

PAYMENT_CASH_VND_INFO=your_payment
PAYMENT_TRANSFER_RUB_INFO=your_payment
PAYMENT_TRANSFER_KZT_INFO=your_payment
